*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(0,rgb(150,205,134),rgb(96,188,100));
    padding-top: 17px;
}
.header h2{
    text-align: center;
}
.header h2 a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
.container form{
    width: 450px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.content{
    margin: 30px 15px;
}
.box_container{
    border: 0.5px solid #ccc;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 5px;
}
.container .box_container h1{
    text-align: center;
    margin-top: 15px;
}
.input_group{
    margin-bottom: 30px;
}
.input_group p{
    margin-bottom: 8px;
}
.input_group .icon_input{
    position: relative;
}
.icon_input .icon_sub{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
}
.icon_input .icon_sub i{
    line-height: 35px;
}
.icon_input input{
    font-size: 15px;
    padding-right: 10px;
}

.container .content input{
    width: 100%;
    height: 35px;
    padding-left: 35px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
}
.content .input_group p{
    font-size: 18px;
}

.login_input {
    width: 100%;
    height: 35px;
    margin: 15px 0;
    background-color: rgb(236, 51, 51);
    border: 0.5px solid #ccc;
    font-size: 17px;
}
.login_input:hover{
    color: white;
    /* background-image: linear-gradient(0,rgb(150,205,134),rgb(96,188,100)); */
    background-color:  rgb(180, 21, 21);
    cursor: pointer;
}
